@model WeatherViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Şehir Seçiniz</h1>

    <div class="container mt-5">

        <form asp-action="Index" method="post">
            <div class="form-group row">
                <div class="col-sm-6">
                    <select class="form-control" id="mySelect" name="selectedValues" multiple="multiple">
                        @foreach (var item in Model.Cities)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-1">
                    <button type="submit">Ara</button>
                </div>
            </div>
        </form>

    </div>

    @if (Model.Weathers != null && Model.Weathers.Count > 0)
    {
        <div class="container mt-5">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr scope="col">
                        <th>Şehir</th>
                        <th>Ortalama Sıcaklık</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Weathers)
                    {
                        <tr>
                            <th scope="row">@item.City.Name</th>
                            <th>@item.Degree</th>
                            <th><button onclick="AddFavorite(@item.City.Id)">Favoriye Ekle</button></th>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }
</div>

@section Scripts {
    <script>
        function AddFavorite(cityId) {
            var confirmation = confirm("Eklemek istediğinize emin misiniz?");
            if (!confirmation) {
                return;
            }

           

            $.ajax({
                type: "POST",
                url: '/Account/AddFavorite',
                data: { cityId:cityId },
                success: function (response) {
                    if (response.success) {
                        alert("Başarıyla Eklendi");

                    } else {
                        alert("Hata oluştu:" + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    </script>
}